{{BASE_STYLE}}
<h1>ACCORDO PRODUTTORE/PROSUMER</h1>
<p>Tra la Comunità Energetica Rinnovabile "<strong>{{CER_NOME}}</strong>", con sede nel Comune di {{CER_COMUNE}} e cabina primaria {{CER_CABINA}}.</p>
<p>E il/la {{MEMBER_RUOLO}} <strong>{{MEMBER_NOME}}</strong>, titolare del POD <strong>{{MEMBER_POD}}</strong>, residente nel Comune di {{MEMBER_COMUNE}}.</p>
<p>Le parti concordano di condividere l'energia rinnovabile prodotta e/o autoconsumata nel rispetto dello Statuto, del Regolamento interno, del DM 7 dicembre 2023 e delle regole ARERA/GSE.</p>
<p>Il membro si impegna a comunicare variazioni dei propri dati e a collaborare alla trasmissione delle misure energetiche. La CER ripartirà i benefici economici secondo i criteri approvati (quota condivisa {{CER_QUOTA_PERCENT}}, riparto {{CER_RIPARTO}} o personalizzato).</p>
<p>Decorrenza: {{TODAY}}. L'accordo resta valido finché il membro mantiene il ruolo di Produttore/Prosumer all'interno della CER.</p>
<p>Firme:<br/>CER "{{CER_NOME}}" ____________________<br/>{{MEMBER_NOME}} ____________________</p>
